{% extends "penthouse/app_base.html" %}

{% block document_title %}{{ account.name }} - Overview{% endblock document_title %}

{% block penthouse_main %}
<main class="ph-main">
  <header>
    <h2>{{ account.name }} - Overview</h2>
  </header>
  <section>
    <a href="{% url "penthouse:account-update" account.id %}">update</a>
    <a href="{% url "penthouse:account-delete" account.id %}">delete</a>
  </section>

  <section id="account-overview-{{ account.id }}-1" class="collapsible-container">
    <header class="collapsible-header">
      <h3>Overview</h3>
    </header>
    <section class="collapsible-content">
      <p>This place is intended to display informations from other modules.</p>
    </section>
  </section>
</main>
{% endblock penthouse_main %}
