{% extends "penthouse/app_base.html" %}

{% block document_title %}Account List{% endblock document_title %}

{% block penthouse_main %}
<main class="ph-main">
  <header>
    <h2>Delete Account</h2>
  </header>

  <p>You're about to delete the account <strong>{{ account.name }}</strong> and all associated data.</p>
  <p>This will remove <i>423 runs</i>, <i>{{ progression_samples }} progression sample{{ progression_samples|pluralize }}</i>, ...</p>
  <p>Are you really sure you want to delete this account?</p>

  <section class="ph-form-container">
    <form method="post" novalidate class="ph-form">
      {% csrf_token %}
      <button type="submit" class="danger">Yes, I want to delete this account!</button>
    </form>
  </section>
</main>
{% endblock penthouse_main %}
