{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block page_title %}penthouse development template{% endblock page_title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "penthouse/style.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "penthouse/penthouse.js" %}" defer></script>
  </head>
  <body>
{% block html_body %}
    <nav id="penthouse-nav">
      <ul>
        <li><a href="{% url "penthouse:meta-data-overview" %}">Meta Progression</a></li>
        <li><a href="{% url "penthouse:tracker-overview" %}">Run Tracker</a></li>
        <li><a href="{% url "penthouse:relics-list" %}">Relic Tracker</a></li>
        <li><a href="{% url "penthouse:profile-settings-update" %}">Settings</a></li>
      </ul>
    </nav>
    <div id="penthouse-main">
  {% block main %}
      foobar
  {% endblock main %}
    </div>
{% endblock html_body %}
  </body>
</html>
