{% extends "penthouse/app_base.html" %}

{% load penthouse_tags %}

{% block page_title %}Meta Progression{% endblock page_title %}

{% block main %}
<main id="penthouse-meta" class="penthouse-meta">
  <header>
    <h2>Meta Progression</h2>
    <a href="{% url "penthouse:meta-data-add" %}" class="action-button">add Datapoint</a>
  </header>

<section id="meta-tracker-1" class="collapsible-container">
  <header class="collapsible-header">
    <h3>Chart</h3>
  </header>
  <section class="collapsible-content">
    <div class="canvas-box">
      <canvas id="meta-data-canvas" height="500px"></canvas>
    </div>
  </section>
</section>

<section id="meta-tracker-2" class="collapsible-container">
  <header class="collapsible-header">
    <h3>Datapoints</h3>
  </header>
  <section class="collapsible-content">
    <a href="{% url "penthouse:meta-data-add" %}" class="action-button">add Datapoint</a>
    <table summary="All datapoints of meta progression" id="meta-data-table" class="list-view">
      <thead>
        <tr>
          <th>Date</th>
          <th>LTC</th>
          <th>LTS</th>
          <th>Notes</th>
          <th />
        </tr>
      </thead>
      <tbody>
        {% for point in object_list %}
        <tr>
          <td>{{ point.date|date:"Y-m-d" }}</td>
          <td class="hidden meta-date-raw">{{ point.date|date:"U" }}</td>
          <td>{{ point.ltc|hr_big_number }}</td>
          <td class="hidden meta-ltc-raw">{{ point.ltc }}</td>
          <td>{{ point.lts|hr_big_number }}</td>
          <td class="hidden meta-lts-raw">{{ point.lts }}</td>
          <td>{{ point.notes }}</td>
          <td>
            <a href="{% url "penthouse:meta-data-update" point.id %}">update</a>
            <a href="{% url "penthouse:meta-data-delete" point.id %}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
</main>
{% endblock main %}
