{% extends "penthouse/app_base.html" %}

{% load penthouse_tags %}

{% block page_title %}Meta Progression{% endblock page_title %}

{% block main %}
<main id="penthouse-meta" class="penthouse-meta">
<h2>Meta Progression</h2>

<div>
  <canvas id="meta-data-canvas"></canvas>
</div>

<a href="{% url "penthouse:meta-data-add" %}">add data point</a>
<table summary="All datapoints of meta progression" id="meta-data-table" class="list-view">
  <tr>
    <th colspan="2">Date</th>
    <th colspan="2">LTC</th>
    <th colspan="2">LTS</th>
    <th>Notes</th>
    <th />
  </tr>
  {% for point in object_list %}
  <tr>
    <td>{{ point.date|date:"SHORT_DATE_FORMAT" }}</td>
    <td class="hidden meta-date-raw">{{ point.date }}</td>
    <td>{{ point.ltc|hr_big_number }}</td>
    <td class="hidden meta-ltc-raw">{{ point.ltc }}</td>
    <td>{{ point.lts|hr_big_number }}</td>
    <td class="hidden meta-lts-raw">{{ point.lts }}</td>
    <td>{{ point.notes }}</td>
    <td>
      <a href="{% url "penthouse:meta-data-update" point.id %}">update</a>
      <a href="{% url "penthouse:meta-data-delete" point.id %}">delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
</main>
{% endblock main %}
