{% extends "penthouse/app_base.html" %}

{% block page_title %}Progress Planning{% endblock page_title %}

{% block main %}
<main class="penthouse-progress" id="penthouse-progress">
  <header>
    <h2>Progress Planning</h2>
    <a href="{% url "penthouse:progress-milestone-add" %}" class="action-button">add Milestone</a>
  </header>

{% for milestone in object_list %}
<section id="progress-planning-{{ milestone.id }}" class="collapsible-container progress-planning-milestone">
  <header class="collapsible-header">
    <h3>{{ milestone.title }}</h3>
  </header>
  <section class="collapsible-content">
    <div class="ms-control">
      edit mode: {% include "penthouse/includes/toggle_button.html" %}
    </div>
    <div class="ms-summary">
      <div class="ms-abstract">
        <ul>
          <li class="info-item">created: {{ milestone.date_added|date:"Y-m-d" }}</li>
          <li class="info-item">
            {{ milestone.total_sections }} section{{ milestone.total_sections|pluralize:"s" }}
            <span class="edit-mode-button"> - </span>
            <a href="{% url "penthouse:progress-section-add" milestone.id %}" class="section-add-button edit-mode-button">add section</a>
          </li>
        </ul>
      </div>
      <div class="ms-progress">
        <ul>
          <li><progress max="{{ milestone.total_steps }}" value="{{ milestone.completed_steps }}">{{ milestone.completed_steps }}</progress></li>
          <li><p>{{ milestone.completed_steps }}/{{ milestone.total_steps }} step{{ milestone.total_steps|pluralize:"s" }}</p></li>
        </ul>
      </div>
    </div>
    <ul class="ms-section-list">
      {% for section in milestone.milestone_sections.all %}
      {# djlint:off H025 #}<li>{# djlint:on #}
        <strong>{{ section.caption }}</strong>
        - {{ section.get_resource_display }}
        <span class="edit-mode-button"> - </span>
        <a href="{% url "penthouse:progress-section-update" section.id %}" class="edit-mode-button">update</a>
        <span class="edit-mode-button"> | </span>
        <a href="#" class="edit-mode-button">delete</a>
        <span class="edit-mode-button"> | </span>
        <a href="{% url "penthouse:progress-step-add" section.id %}" class="step-add-button edit-mode-button">add step</a>
        <ul class="ms-step-list">
          {% for step in section.milestone_steps.all %}
            {% if step.completed %}
          <li class="ms-step-completed">
            {% else %}
          <li>
            {% endif %}
            <a href="{% url "penthouse:progress-step-toggle" step.id %}" class="step-complete-button">{{ step.step_value }}</a>
            <span class="edit-mode-button"> - </span>
            <a href="{% url "penthouse:progress-step-update" step.id %}" class="step-update-button edit-mode-button">update</a>
            <span class="edit-mode-button"> | </span>
            <a href="#" class="step-delete-button edit-mode-button">delete</a>
          </li>
          {% endfor %}
          <li>
            <a href="{% url "penthouse:progress-step-add" section.id %}" class="step-add-button edit-mode-button">add step</a>
          </li>
        </ul>
      </li>
      {% endfor %}
    </ul>
  </section>
</section>
{% endfor %}

</main>
{% endblock main %}
