{% extends "penthouse/app_base.html" %}

{% block page_title %}Progress Planning{% endblock page_title %}

{% block main %}
<main class="penthouse-progress" id="penthouse-progress">
  <header>
    <h2>Progress Planning</h2>
    <a href="{% url "penthouse:progress-milestone-add" %}" class="action-button">add Milestone</a>
  </header>

{% for milestone in object_list %}
<section id="progress-planning-{{ milestone.id }}" class="collapsible-container">
  <header class="collapsible-header">
    <h3>{{ milestone.title }}</h3>
  </header>
  <section class="collapsible-content">
    <p>This milestone was created on {{ milestone.date_added }}.</p>
  </section>
</section>
{% endfor %}

</main>
{% endblock main %}
