{% extends "penthouse/app_base.html" %}

{% block document_title %}Update Sample{% endblock document_title %}

{% block penthouse_main %}
<main class="ph-main">
  <header>
    <h2>Update Sample</h2>
  </header>

  <section class="ph-form-container">
    <form method="post" novalidate class="ph-form">
      {% csrf_token %}

      {% include "penthouse/includes/form.html" %}

      <button type="submit" class="submit">update Sample</button>
      <button type="reset" class="cancel">Cancel</button>
    </form>
  </section>
</main>
{% endblock penthouse_main %}
