{% extends "penthouse/app_base.html" %}

{% block page_title %}Tracker Overview{% endblock page_title %}

{% block main %}
<h2>Tracker Overview</h2>

<table summary="All tracked runs">
  <tr>
    <th>Date</th>
    <th>Tier</th>
    <th>Waves</th>
    <th>Duration</th>
    <th>Coins</th>
    <th>PB?</th>
    <th>Coins/h</th>
    <th>PB?</th>
    <th>Cells</th>
    <th>PB?</th>
    <th>Cells/h</th>
    <th>PB?</th>
    <th>Notes</th>
    <th />
  </tr>
  {% for run in runs %}
  <tr>
    <td>{{ run.date }}</td>
    <td>{{ run.tier }}</td>
    <td>{{ run.waves }}</td>
    <td>{{ run.duration }}</td>
    <td>{{ run.coins }}</td>
    <td>{{ run.pb_coins }}</td>
    <td>{{ run.coins_hour }}</td>
    <td>{{ run.pb_coins_hour }}</td>
    <td>{{ run.cells }}</td>
    <td>{{ run.pb_cells }}</td>
    <td>{{ run.cells_hour }}</td>
    <td>{{ run.pb_cells_hour }}</td>
    <td>{{ run.notes }}</td>
    <td>
      <a href="{% url "penthouse:tracker-run-update" run.id %}">update</a>
      <a href="{% url "penthouse:tracker-run-delete" run.id %}">delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock main %}
