
# Track actions with artificial stamps
.make-stamps/

# Python virtual environments
.tox-venv/

# while runnning the app from the tox environment, data is stored in a sqlite
# database stored in tests/test.sqlite
tests/test.sqlite

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
