// SPDX-FileCopyrightText: 2025 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

@use "sass:map";
@use "../abstracts/colors";
@use "../abstracts/lists";
@use "../abstracts/fonts";
@use "../abstracts/shadows";

/* Provide the general visual structure for the app-specific templates. */

#ph-app-root {
  display: grid;
  grid-template:
    ". navigation ."
    ". content ."
    / 1fr calc(min(1280px, 100%)) 1fr;
  margin: 0;
  padding: 0;
  background-color: colors.$overall-document-bg;
  color: colors.$overall-document-fg;
  font-family: fonts.$font-stack-sans;

  #ph-nav {
    position: sticky;
    top: 0;
    grid-area: navigation;
    padding: 1em;
    background-color: colors.$overall-nav-bg;
    box-shadow: map.get(shadows.$box-shadows, 1) !important;

    ul {
      @include lists.horizontal-list;

      a,
      a:link,
      a:visited {
        display: inline-block;
        padding: 0.5em 1em 0.25em;
        border-radius: 0.25rem;
        background-color: colors.$nav-button-bg;
        box-shadow: map.get(shadows.$box-shadows, 1) !important;
        color: colors.$nav-button-fg;
        font-weight: bold;
        text-decoration: none;

        /* stylelint-disable max-nesting-depth */
        &:hover {
          background-color: colors.$nav-button-hover-bg;
        }
        /* stylelint-enable max-nesting-depth */
      }
    }
  }

  #ph-content {
    grid-area: content;
    margin: 0;
    padding: 1em 2em;
    background-color: colors.$overall-content-bg;
    box-shadow: map.get(shadows.$box-shadows, 1) !important;
  }

  .ph-main {
    margin: 0;
    padding: 0;

    > header {
      margin-bottom: 1em;
    }
  }
}
