@use "../abstracts/colors";

form {
  .non-field-errors,
  .field-errors {
    margin-top: 0.5em;
    padding: 0.25em 0.5em;
    border: 1px solid colors.$black;
    background: #f99;
    color: #000;
  }

  .field-group {
    margin: 0.5em 0 2em;

    label,
    small,
    .field-errors {
      display: block;
      margin-left: 0.25rem;
    }

    input,
    select,
    textarea {
      margin: 0.25em;
      padding: 0.25em 0.5em;
      border: 1px solid colors.$black;
      background-color: colors.$form-input-bg;
      color: colors.$overall-fg;
    }
  }

  button {
    margin: 0.25em 0.25rem;
    padding: 0.25em 1em;
    border: 1px solid colors.$black;
    font-size: 1.25em;
    font-weight: bold;
  }
}
