@use "../abstracts/colors";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: colors.$dark-grey-00;
  color: colors.$light-grey-darker;

  > div {
    margin: 0 2em;
    padding: 1em;
    border: 1px solid colors.$black;
    background-color: colors.$dark-grey-01;
  }
}
