@use "../abstracts/colors";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: colors.$overall-bg;
  color: colors.$overall-fg;

  > div {
    margin: 0 2em;
    padding: 1em;
    border: 1px solid colors.$black;
    background-color: colors.$main-container-bg;
  }
}

a,
a:link,
a:visited {
  color: colors.$lime-400-dark;
}
