// SPDX-FileCopyrightText: 2025 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

/* General styling for tables.
 *
 * This provides a default class for ``table`` elements, too: The ``list-view``.
 */

@use "../abstracts/colors";
@use "../abstracts/icons";

table {
  border-collapse: collapse;
}

.list-view {
  border: 1px solid colors.$black;
  font-size: 0.8em;

  td,
  th {
    padding: 0.2em 0.5em;
    border: 1px solid colors.$dark-grey-01;

    /* stylelint-disable selector-no-qualifying-type */
    &.hidden {
      display: none;
    }
    /* stylelint-enable selector-no-qualifying-type */
  }

  th {
    background-color: colors.$table-odd-bg;
  }

  tr:nth-child(odd) td {
    background-color: colors.$table-odd-bg;
  }

  tr:nth-child(even) td {
    background-color: colors.$table-even-bg;
  }
}

th {
  /* stylelint-disable selector-no-qualifying-type */
  &.sortable-column {
    background-image: none;
    background-image: icons.icon-sort-available(colors.$overall-fg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 0.9em;
    cursor: pointer;
  }

  &.sortable-ascending {
    background-image: icons.icon-ascending(colors.$overall-fg) !important;
  }

  &.sortable-descending {
    background-image: icons.icon-descending(colors.$overall-fg) !important;
  }
  /* stylelint-enable selector-no-qualifying-type */
}
