/* General styling for tables.
 *
 * This provides a default class for ``table`` elements, too: The ``list-view``.
 */

@use "../abstracts/colors";

table {
  border-collapse: collapse;
}

.list-view {
  border: 1px solid colors.$black;
  font-size: 0.8em;

  td,
  th {
    padding: 0.2em 0.5em;
    border: 1px solid colors.$dark-grey-01;
  }

  th {
    background-color: colors.$dark-grey-06;
  }

  tr:nth-child(odd) td {
    background-color: colors.$dark-grey-06;
  }

  tr:nth-child(even) td {
    background-color: colors.$dark-grey-12;
  }
}
