// SPDX-FileCopyrightText: 2025 Mischback
// SPDX-License-Identifier: MIT
// SPDX-FileType: SOURCE

@use "sass:map";
@use "../abstracts/colors";
@use "../abstracts/shadows";

.progress-planning-milestone {
  .collapsible-content {
    // this is only required to make use absolute positioning on ``.ms-control``
    position: relative;
  }

  .ms-control {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 0.8em;

    .toggle-button {
      margin-left: 0.5em;
      font-size: 1.25em;
    }
  }

  .ms-summary {
    display: flex;
    margin: 1em 0;

    > div {
      flex: 1;
      padding: 0 1em;
    }
  }

  .ms-progress {
    text-align: center;

    ul li {
      list-style-type: none;

      /* stylelint-disable selector-max-compound-selectors */
      p {
        font-size: 0.8em;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }

    progress {
      width: 15em;
      height: 1em;
      margin-bottom: 0.25em;
    }
  }

  .ms-section-list {
    margin: 1em 0 0.5em;
    padding: 0;

    /* stylelint-disable no-descending-specificity */
    > li {
      margin: 0 0.5em 1em 0.25em;
      padding: 0.5em;
      list-style-type: none;
      background-color: colors.$ms-section-bg;
      box-shadow: map.get(shadows.$box-shadows, 1) !important;

      /* stylelint-disable selector-max-compound-selectors */
      .step-complete-button {
        display: inline-block;
        padding: 0.5em 0.5em 0.25em;
        border: 1px solid colors.$shadow-color-base;
        background-color: colors.$ms-step-bg;
        color: colors.$ms-step-fg;
        text-decoration: none;
      }
    }
    /* stylelint-enable no-descending-specificity */
  }

  .ms-step-list {
    margin: 0.5em 0 0 1em;

    /* stylelint-disable no-descending-specificity, selector-no-qualifying-type */
    li {
      margin: 0 0 0.5em;

      &.ms-step-completed .step-complete-button {
        background-color: colors.$ms-step-bg-completed;
      }
    }
    /* stylelint-enable no-descending-specificity, selector-no-qualifying-type */
  }

  &.view-mode {
    .edit-mode-button {
      display: none;
    }

    .ms-step-list li {
      display: inline-block;
      margin: 0;

      .step-complete-button {
        display: block;
      }
    }
  }
}
