/* Layout-specific styles for ``tracker-overview`` */
@use "../abstracts/colors";

.penthouse-tracker {
  /* ``.list-view`` is applied to all tables in that layout */
  .list-view {
    .pb-global::after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      margin: 0 0 0 0.5em;
      float: right;
      border-radius: 1em;
      background-color: rgb(247 215 0); /* FIXME: select color! */
    }

    .pb-local::after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      margin: 0 0 0 0.5em;
      float: right;
      border-radius: 1em;
      background-color: rgb(247 215 0 / 35%); /* FIXME: select color! */
    }

    tr:nth-child(odd) {
      /* stylelint-disable selector-no-qualifying-type */
      .max-value {
        background-color: colors.$dark-green-06 !important;
      }
      /* stylelint-enable selector-no-qualifying-type */

      /* stylelint-disable selector-no-qualifying-type */
      .top-value {
        background-color: colors.$dark-green-06 !important;
      }
      /* stylelint-enable selector-no-qualifying-type */
    }

    tr:nth-child(even) {
      /* stylelint-disable selector-no-qualifying-type */
      .max-value {
        background-color: colors.$dark-green-12 !important;
      }
      /* stylelint-enable selector-no-qualifying-type */

      /* stylelint-disable selector-no-qualifying-type */
      .top-value {
        background-color: colors.$dark-green-12 !important;
      }
      /* stylelint-enable selector-no-qualifying-type */
    }
  }
}
